apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: storage-web3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: storage-web3-api:dev
          ports:
            - containerPort: 8080
